*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-size: 16px;
	font-family: Arial;
}

/*=============================================*/
/*=========Navbar o Menu de Navegacion=========*/
/*=============================================*/
.nav-hor{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 4%;
}
.nav-hor .enlace a{
	text-decoration: none;
	font-size: 20px;
	padding: .5em 1em;
}
/*=============================================*/

/*=============================================*/
/*==========Carrusel de Contenido==============*/
/*=============================================*/
.content-carrusel{
	width: 100%;
	overflow: hidden;
}
.content-carrusel .slider{
	width: 100%;
	display: flex;
}
.content-carrusel .slider .slide{
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-shrink: 0;
}

.slide > img{
	width: 100%;
	height: 100%;
}
/*=============================================*/

/*=============================================*/
/*================Pie de Pagina================*/
/*=============================================*/
.footer-pie{
	padding: 20px;
}
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/