.terroso{
	background-color: #f9f9f4;
	color: #333333;
}

/*Scroll*/
.terroso::-webkit-scrollbar,
.scroll::-webkit-scrollbar{
	width: 12px;
	height: 12px;
}
.terroso::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb{
	background-color: #333;
	border-radius: 5px;
}
.terroso::-webkit-scrollbar-thumb:hover,
.scroll::-webkit-scrollbar-thumb:hover{
	background-color: #beab72;
}

/*=Fondo=*/
.terroso .fon-1{
	background-color: #ffffff;
	color: #333;
}
.terroso .fon-1 .text{
	color: #beab72;
}

.terroso .fon-2{
	background-color: #beab72;
}

/*=Enlaces=*/
.terroso .link-1{
	color: #333;
}
.terroso .link-1:hover{
	color: #de2229;
}
.terroso .link-2{
	color: #333;
}
.terroso .link-2:hover{
	background-color: #de2229;
}
.terroso .link-3{
	background-color: #ffffff;
	color: #333;
}
.terroso .link-3:hover{
	background-color: #de2229;
}

/*=Borde de un enlace o un boton=*/
.terroso .borde{
	border: 1px solid #333;
}

/*=Hero de Imagenes=*/
.terroso .hero::before{
	background-color: rgba(255,255,255,0.5);
}