/*=============================================*/
/*===========Cuadro de Traducctor==============*/
/*=============================================*/
.traductor{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.traductor .info{
	border-radius: 8px;
}
.traductor .info textarea{
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 8px;
	padding: 20px;
	font-size: 30px;
}
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/